Source: libaio
Maintainer: Guillem Jover <guillem@debian.org>
Priority: extra
Section: libs
Vcs-Browser: http://git.hadrons.org/?p=debian/pkgs/libaio.git
Vcs-Git: git://git.hadrons.org/debian/pkgs/libaio.git
Build-Depends: debhelper (>= 5), quilt (>= 0.40)
Standards-Version: 3.7.2

Package: libaio1
Architecture: i386 amd64 ia64 s390 alpha powerpc arm armeb armel hppa m68k mips mipsel sparc
Depends: ${shlibs:Depends}
Description: Linux kernel AIO access library - shared library
 This library enables userspace to use Linux kernel asynchronous I/O
 system calls, important for the performance of databases and other
 advanced applications.

Package: libaio1-udeb
XB-Package-Type: udeb
Section: debian-installer
Architecture: i386 amd64 ia64 s390 alpha powerpc arm armeb armel hppa m68k mips mipsel sparc
Depends: ${shlibs:Depends}
Description: Linux kernel AIO access library - shared library
 This library enables userspace to use Linux kernel asynchronous I/O
 system calls, important for the performance of databases and other
 advanced applications.

Package: libaio1-dbg
Section: libdevel
Architecture: i386 amd64 ia64 s390 alpha powerpc arm armeb armel hppa m68k mips mipsel sparc
Depends: libaio1 (= ${binary:Version})
Description: Linux kernel AIO access library - debugging symbols
 This library enables userspace to use Linux kernel asynchronous I/O
 system calls, important for the performance of databases and other
 advanced applications.

Package: libaio-dev
Section: libdevel
Architecture: i386 amd64 ia64 s390 alpha powerpc arm armeb armel hppa m68k mips mipsel sparc
Depends: libaio1 (= ${binary:Version})
Description: Linux kernel AIO access library - development files
 This library enables userspace to use Linux kernel asynchronous I/O
 system calls, important for the performance of databases and other
 advanced applications.

