Source: libaio
Maintainer: Guillem Jover <guillem@debian.org>
Priority: optional
Section: libs
Vcs-Browser: https://git.hadrons.org/cgit/debian/pkgs/libaio.git
Vcs-Git: https://git.hadrons.org/git/debian/pkgs/libaio.git
Homepage: https://pagure.io/libaio
Standards-Version: 4.6.0
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),

Package: libaio1
Architecture: linux-any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Linux kernel AIO access library - shared library
 This library enables userspace to use Linux kernel asynchronous I/O
 system calls, important for the performance of databases and other
 advanced applications.
 .
 This package contains the shared library.

Package: libaio1-udeb
Package-Type: udeb
Section: debian-installer
Architecture: linux-any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Linux kernel AIO access library - shared library
 This library enables userspace to use Linux kernel asynchronous I/O
 system calls, important for the performance of databases and other
 advanced applications.
 .
 This package contains the udeb shared library.

Package: libaio-dev
Section: libdevel
Architecture: linux-any
Multi-Arch: same
Depends:
 ${misc:Depends},
 libaio1 (= ${binary:Version}),
Description: Linux kernel AIO access library - development files
 This library enables userspace to use Linux kernel asynchronous I/O
 system calls, important for the performance of databases and other
 advanced applications.
 .
 This package contains the static library and the header files.
