#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

lib := libaio1
libudeb := $(lib)-udeb
libdev := libaio-dev

include /usr/share/quilt/quilt.make

build-indep:

build-arch: patch
	dh_testdir
	
	$(MAKE)

build: build-indep build-arch

clean: unpatch
	dh_testdir
	dh_testroot
	
	[ ! -f Makefile ] || $(MAKE) clean
	
	dh_clean

install-arch: build-arch
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	
	$(MAKE) install \
	  DESTDIR=$(CURDIR)/debian/tmp \
	  libdir=/lib
	
	install -D -m 644 debian/$(lib).lintian \
		$(CURDIR)/debian/$(lib)/usr/share/lintian/overrides/$(lib)

binary: binary-indep binary-arch

binary-indep:
	# Nothing to do.

binary-arch: install-arch
	dh_testdir
	dh_testroot
	dh_install --sourcedir=$(CURDIR)/debian/tmp
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs --add-udeb '$(libudeb)'
	dh_shlibdeps
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

.PHONY: clean build-indep build-arch build 
.PHONY: install-arch binary-indep binary-arch binary

