#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_HOST_ARCH_CPU ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_CPU)

CFLAGS = -Wall -g

ifneq (,$(filter noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

lib := libaio1
libdbg := $(lib)-dbg
libudeb := $(lib)-udeb
libdev := libaio-dev

include /usr/share/quilt/quilt.make

build-indep:

build-arch: patch
	dh_testdir
	
	$(MAKE)

build: build-indep build-arch

clean: unpatch
	dh_testdir
	dh_testroot
	
	$(MAKE) clean
	
	dh_clean

check-arch: build-arch
	dh_testdir
	
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
# The test suite only runs on i386, for now
ifeq ($(DEB_HOST_ARCH_CPU),i386)
	$(MAKE) partcheck
endif
endif

install-arch: check-arch
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	
	$(MAKE) install \
	  DESTDIR=$(CURDIR)/debian/tmp \
	  libdir=/lib

binary: binary-indep binary-arch

binary-indep:
	# Nothing to do.

binary-arch: install-arch
	dh_testdir
	dh_testroot
	dh_install --sourcedir=$(CURDIR)/debian/tmp
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_lintian
	dh_link
	dh_strip --dbg-package=$(libdbg)
	dh_compress
	dh_fixperms
	dh_makeshlibs --add-udeb '$(libudeb)'
	dh_shlibdeps
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

.PHONY: clean build-indep build-arch build 
.PHONY: install-arch binary-indep binary-arch binary

